
::before, ::after
   {
	  margin: 0;
    box-sizing: border-box; 
   }

h1 {
    font-size: 2em;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
font-family: 'Catamaran', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Source Sans Pro', sans-serif;
   }
   @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@700&family=Cormorant+Garamond:ital,wght@1,300&family=Source+Sans+Pro:wght@300&display=swap');


body {
      font-family: 'Abril Fatface', cursive;
font-family: 'Catamaran', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Sans Pro', sans-serif;
     }
     @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@700&family=Cormorant+Garamond:ital,wght@1,300&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
</style>